.width100{
	 width: 100%;
}
.width33{
	width: 33px;
}
.padd45{
	padding: 45px;
}
.paddLeft60{
	padding-left: 60px;
}
.paddRight60{
	padding-right: 60px;
}
.dashboard-Outt-Padd{
	padding: 15px;
	height : 100%;
    background-color: #dddddd;
}
.dashboard-Innr-Padd{
	/* padding: 21px; */
    height: 100%;
    background-color: #fff;
}
.brd-btm1{
	border-bottom: 1px solid #ccc;
}
.white-Bgclr{
	background-color: #fff;
}
.white-clr{
	color : #fff !important;
}
.blue-bgClr{
	background-color: #384fa2 !important;
}
.blue-clr{
	color : #384fa2 !important;
}
.lightGray-color{
	color: #333;
}
.Show{
	display:iniline-block !important;
}
.Hide{
	display:none !important;
}
.encodeHght{
	height: 120px !important;
}
.logo-imgPadd{
	padding: 0px 25px;
}
.top15{
	top: -45px;
}
.width{
	width: 80%;
}
.width90{
	width: 80%;
	padding: 8px;
}
.txt-algn-Cntr{
	text-align: center !important;
}
.sapUiTableColHdr{
	background-color: #384fa2 !important;
}
.sapUiTableCol{
	background-color: #384fa2 !important;
}
.sapUiTableColRowHdr, .sapUiTableColHdrCnt {
    background-color: #384fa2 !important;
}
.title-Size{
	font-size: 20px;
}
.sapMBtnIcon{
	color : #384fa2 !important;
}
.paddTop20{
	padding: 20px 0 0 0 !important
}
.sapMBtnIcon:hover {
	background: #384fa2 !important;
    color: #f2f2f2 !important;
}
.sapMIBar-CTX :not(.sapMBtnDiasabled)>.sapMBtnInner.sapMBtnActive {
	background-color : 	#f2f2f2 !important;
	border-color : #384fa2 !important;
}
.dsb-img:hover{
	width : 85% !important;
}
.scan-Img:hover{
	width : 75% !important;
}
.Brdr-Top{
	border-top: 1px solid #fff !important;
}